* {
    box-sizing: border-box;
}

body {
    background: #93f4b7;
    line-height: 1.7;
}

.side-bar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.side-bar > * {
    padding: 10px 15px;
}

.side-bar .nav a,
.side-bar .tag-list a {
    display: block; /*占母元素整宽*/
    text-align: center;
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    transition: color 200ms;
}

.side-bar .nav a:hover,
.side-bar .tag-list a:hover {
    color: violet;
}

.side-bar .nav a {
    font-weight: 700;
}

/* 对右侧栏目进行编辑*/
.main {
    margin-left: 200px;
    color: #555;
}

.header .logo {
    line-height: 1;
    border: 5px solid rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 10px;
}

.article-list {
    /* 设置边距 */
    margin-right: 20%;
    background: #fff;
    padding: 20px 30px;
    /* 设置阴影 */
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

/* 给上下文章之间设定一些边距 */
.article-list .item {
    margin-bottom: 25px;
}

.article-list .item .title {
    color: black;
    font-size: 20px;
    font-weight: 700;
    transition: color 200ms;
}

/* 指定悬停变色一定要是在 .item 上而不是在 .title 上 */
.article-list .item a.title:hover {
    color: violet;
}

.article-list .item .status {
    font-size: 13px;
    color: #b7b3b3;
}

.article-list .item > * {
    margin: 10px 0;
}


a {
    text-decoration: none;
}

a, body {
    color: rgb(0, 0, 0);
}

/* 关闭移动端新建的menu-checkbox */
#menu-toggle,
#menu-checkbox {
    display: none;
}