html, body {
    height: 100%; /* 确保html和body占满整个视窗高度 */
    margin: 0; /* 移除默认的margin */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    background-color: #93f4b7; /* 或任何您喜欢的背景颜色 */
}

.group {
    position: relative;
}
  
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    padding: 60px 40px;
    background-color: rgba(60, 34, 34, .9);
    border-radius: 20px;
    position: relative;
    max-width: 250px;
    width: 100%;
}
  
.form p {
    padding-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .5px;
    color: white;
}
  
.container {
    padding-top: 30px;
}
  
.main-input {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 185px;
    border: none;
    border-bottom: 1px solid #6c6c6c;
    background: transparent;
    color: #ffffff;
}
  
.main-input:focus {
    outline: none;
    border-bottom-color: #93f4b7;
}

.label-password {
    color: #999999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.main-input:focus ~ .label-password,
.main-input:valid ~ .label-password {
    top: -20px;
    font-size: 14px;
    color: #93f4b7;
}
  
.highlight-span {
    position: absolute;
    height: 60%;
    width: 0px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
  
.main-input:focus ~ .highlight-span {
    -webkit-animation: input-focus 0.3s ease;
    animation: input-focus 0.3s ease;
}
  
@keyframes input-focus {
    from {
      background: #93f4b7;
    }
  
    to {
      width: 185px;
    }
}
  
.submit {
    margin-top: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
}