*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loader {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    animation: animate 2s linear infinite;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s; /* 平滑过渡效果 */
}

.loader:active {
    transform: scale(0.95); /* 稍微缩小，模拟按下效果 */
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.6); /* 使用更亮的阴影颜色 */
    border: 2px solid rgba(255, 255, 255, 0.5); /* 添加亮色边框以增加对比 */
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), transparent 40%, rgba(255, 255, 255, 0.2)); /* 调整背景色以增强效果 */
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.loader::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 100;
}

.loader::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    border-radius: 50%;
    z-index: 1;
    filter: blur(30px);
}

.text {
    display: block; /* 保持始终为block，但初始不可见 */
    position: absolute;
    color: rgb(52, 222, 18);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 200;
    opacity: 0; /* 初始透明度为0，即完全透明 */
    visibility: hidden; /* 初始不可见 */
    transition: opacity 0.3s ease, visibility 0.3s ease, font-size 0.5s ease, font-weight 0.5s ease; /* 过渡效果应用于opacity和visibility, 添加transform过渡效果 */
    transform-origin: center;
}

.text-grow { /* 定义点击时文本变化的样式 */
    transform: translate(-50%, -50%) scale(1.2); /* 同时应用平移和缩放 */
    opacity: 1; /* 确保显示 */
    visibility: visible; /* 确保可见 */
    font-size: 24px; /* 变大 */
}

.loader:hover .text,
.loader:active .text {
    opacity: 1; /* 悬停时完全不透明 */
    visibility: visible; /* 悬停时可见 */
    transition-delay: 0.3s; /* 添加延迟 */
}